* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

#back {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-image: url("assets/image/michael-dziedzic-aQYgUYwnCsM-unsplash-downsample.jpg");
    background-color: grey;
    background-repeat: no-repeat;
    background-size: auto;
}